<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    
    <div class="panel-body">
      <form [formGroup]="applyForm" novalidate (ngSubmit)="save()">
        <div class="form-group">
          <label class="center-block">Project Name:
            <select class="form-control" formControlName="project">
              <option *ngFor="let project of projects" [value]="project">{{project}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Name:
              <select class="form-control" formControlName="member">
                  <option *ngFor="let member of members" [value]="member">{{member}}</option>
                </select>
           
          </label>
        </div>

       
        <div class="form-group">
          <label class="center-block">Days:
            <input class="form-control" formControlName="days">
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!applyForm.valid">Save</button>
      </form>


      <p>Form value: {{ applyForm.value | json }}</p>
      
    </div>
  </div>

</div>
